body {
    display: flex;
    font-family: 'Helvetica Neue';
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', 'san-serif';
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    align-items: center;
}

#map {
    background: yellow;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    align-items: center;
}

#mapImg { 
    width: 100%;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: inline-block;
    width: 20%;
    border-style: solid;
    border-color: white;
    background: #f1f1f1;
    padding: 1%;
    font-family: 'Helvetica Neue';
    font-size: 1em;
    border-radius: 5px;
    font-weight: 200;
}

button:hover {
    background: #fafafa;
    cursor: pointer;
}

#user-image {
    width: 50%;
    align-self: center;
    padding: 1%;
}

.info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
}

.summary {
    display: flex;
    flex-direction: column;
    font-weight: 200;
}

p {
    font-size: 1.5em;
}

li {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    color: #525151;
    list-style: none;
}