    html, body {
        width:100%;
        height:100%;
        margin:0px;
        padding:0px;
    }

    body {
        display: flex;
        flex-wrap: wrap;
    }

    #top-nav {
        background-color: #92d1b3;
        position: fixed;
        width: 100%;
        height: 9%;
        box-shadow: 0px -17px 16px 17px rgba(0,0,0,0.29);
        z-index: 4;
        display:flex;
        justify-content: center;
    }
    .nav-title {
        width: 200px;
        margin-left: 50%;
        margin-right: 50%;
        margin-top: 13px;
        margin-bottom: 13px;
        
    }
    #bottom-nav {
        background-color: #ffeead;
        position: fixed;
        width: 100%;
        bottom: 0%;
        height: 9%;
        z-index: 4;

    }

    #listview {
        margin-top: 9%;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 8%;
    }

    .container_modal {
        margin-top: 90px;
    }
    .route-container {
        display:flex;
        min-height: 130px;
        max-height: 130px;
        min-width:340px;
        max-width:340px;
        margin:7px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .route-container:hover {
        box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
    }

    .image-section {
        display: flex;
        /* background-color: aqua; */
        min-width: 120px;
        max-height: 130px;
        
    }
    .info-section {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* background-color: brown; */
        width:100%;
        max-width:220px;
        max-height: 130px;
        margin:3px;
        
    }

    .favorite-on {
        position: absolute;
        z-index:3;
        width: 35px;
    }

    .favorite-off {
        display: none;
    }

    .user-image {
       width:100%;
       height:100%;
       max-height: 130px;
       max-width: 120px;

    }

    .title-and-distancefrom {
        display:flex;
        /* background-color: gray; */
        flex-direction: row;
        justify-content: space-between;
        min-height: 30px;
        
    }

    .route-title {
        /* background-color: mediumspringgreen; */
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        flex-wrap: nowrap;

    }

    .distancefrom {
        display: flex;
        align-self: center;
    }
    .distancefrom-icon {
        /* background-color: peru; */
        
    }
    .nearme {
        margin-top:2px;
        width:15px;
        z-index: 4;
    }

    .distancefrom-number {
        /* background-color: olivedrab; */
        font-family: 'Helvetica Neue';
        color: #707070;
    }
    
    .reviews {
        display:flex;
        margin-bottom: 5px;
        /* background-color: green; */
    }

    .stars {
        width: 11px;
    }

    .number-of-reviews {
        margin-left:5px;
        margin-top:1px;
        font-family: 'Helvetica Neue';
        font-size: 13px;
        color: #707070;
    }
    .address {
        display:flex;
        /* background-color: gold; */
        min-height: 30px;
    }

    .place-icon {
        margin-top: 4px;
        height: 20px;    
    }

    .address-info {
        color: #707070;
        font-family: 'Helvetica Neue';
        font-size: 13px;
        margin-left: 8px;
        white-space: pre;
    }
    .route-time-and-length {
        display:flex;
        font-family: 'Helvetica Neue';
        color: #707070;
        font-size: 13px;
        align-items: center;
        /* background-color: lightblue; */
    }

    .route-icon {
        margin-left:3px;
    }

    .time-and-length-info {
        margin-left: 7px;
        margin-top: 2px;
        
    }
    .contributer {
        display:flex;
        margin-top: 4px;
        font-family: 'Helvetica Neue';
        color: #707070;
        font-size: 13px;
        align-items: center;
        /* background-color: rgb(255, 194, 102); */
    }

    .contributer-name {
        margin-left: 9px;
    }

    .contributer-icon {
        margin-left:1px;
    }

    #modal {
        height: 100%;
        width: 100%;
    }
    
    .map {
        height: 50%;
        margin: 1em 1em 5em 1em;
    }
    .rating {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    h1 {
        font-family: 'Roboto', 'san-serif';
        align-self: flex-start;
    }
    
    .container {
        display: flex;
        font-family: 'Helvetica Neue';
        flex-direction: column;
    }

   .container_modal {
       height: 100%;
       width: 100%;
   }
   
    #title {
        display: flex;
        align-items: center;
    }
    
    .detail {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 1em;
    }
    
    .options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    button {
        display: inline-block;
        width: 30%;
        border-style: solid;
        border-color: white;
        background: #f1f1f1;
        padding: 1%;
        font-family: 'Helvetica Neue';
        font-size: 1em;
        border-radius: 5px;
        font-weight: 200;
    }
    
    button:hover {
        background: #fafafa;
        cursor: pointer;
    }
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #user-image {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
    }
    
    .summary {
        display: flex;
        flex-direction: column;
        font-weight: 200;
    }
    
    p {
        font-size: 1.5em;
        margin: 0;
    }
    
    li {
        font-family: 'Helvetica Neue';
        font-weight: 400;
        color: #525151;
        list-style: none;
    }

    .viewable-on {
        display: flex;
    }

    .viewable-off {
        display: none;
    }

    .bottom-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 10px;
    }

    .home {
        display:flex;
        margin-left:20px;
    }
    .directory {
        display:flex;
    }
    .add {
        display:flex;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        font-size: 35px;
        font-family: 'Nanum Pen Script', cursive;
        color: black; 
    }

    #landingpage {
        height: 100%;
        width: 100%;
        /* background-color: #92d1b3; */
        background-color: white;
        justify-content: center;
    }

    .landing-image {
        width: 50%;
        height: 100%;

    }
    
    @media (max-width: 600px) { 
        /* effects css when smaller than 600px */
    
        .info {
            display: flex;
            flex-direction: column;
            font-weight: 200;
            width: 100%
        }

        .bottom-menu {
            margin-top: 5px;
        }

        .add {
            margin-right: 20px;
        }

        #listview {
            margin-top: 16%;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        .nav-title {
            width: 200px;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .landing-image {
            width: 100%;
            height: 100%;
        }

        #landingpage {
            height: 100%;
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
        }
    }